{% extends 'mysite/base.html' %}

{% load static %}

{% block content %}

<br>
<br>

<div class="container">

<p>My name is Surbhi Varshney, I am doing engineering from Jaypee institute of information technology Noida specialising in Electronics and communication with a CGPA of 8.2.</p>

<p>Along with my degree I have completed a course in machine learning which helped me in discovering python and in  developing my pre final year project called automated synthesis of circuits using evolutionary algorithms. It was during this project I discovered that I am a team player and love to solve challenging problems.
My moto in life is to break challenging problems into simple tasks and tackle them with simplicity.</p>
<p>I have been a summer intern in NTPC and worked on a database using XAMP software for building a website.</p>

<p>I am an expert in working in building presentations on powerpoint and working on Microsoft excel and word. I have been a core member of Developer students club where I worked as an event manager. I have also been a campus strategizer for Flagship management symposium: The red bricks submit in IIM Ahmedabad.</p>

<p>I am always eager to contribute to the society and I believe that we should look down at someone only to help the person up. In my leisure time I like to take part in social activities such as teaching young kids and I am also a member of Youth empowerment foundation.</p>

<p>My hobbies include playing badminton, skating, solving sudoku and reading novels. My favourite book is Predictaby irrational by Dan Ariely. I also like to read blogs on life experiences of people from various places around the world to stay updated on what is happening around me.</p>
</div>

<link rel="stylesheet" href="{% static 'mysite/simplesocial/css/me.css' %}">



{% endblock %}
