{% extends 'mysite/base.html' %}

{% load static %}
{% block content %}
<img src="{% static 'mysite/images/web.jpg' %}" width="400" height="510" class="rounded float-left" alt="...">
<img src="{% static 'mysite/images/ML.jpeg' %}" width="400" height="510"  class="rounded float-right" alt="...">
 <h1>Hello!</h1>
 <br>
 <h2> This is Surbhi Varshney</h2>
 <br>
  <h3> Welcome to my website </h3>
  <br>
  <h3> Check out my website to know more about me.</h3>
  <br>
  <h3> Thanks for visiting!</h3>

<link rel="stylesheet" href="{% static 'mysite/simplesocial/css/have.css' %}">



{% endblock %}
