
{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 50px">
<div class="card-deck">
<div class="card">
<img src="{% static 'mysite/images/web.jpg' %}" width="200" height="200" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">World Wide Web</h5>
  <p class="card-text">Has a good understanding of HTML, CSS, Bootstrap and various back end techniques.</p>
  <p class="card-text"><small class="text-muted">Web Development</small></p>
</div>
</div>
<div class="card">
<img src="{% static 'mysite/images/ML.jpeg' %}" width="200" height="200" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Data Analysis using ML</h5>
  <p class="card-text">Worked on various datasets to study Neural Network and Machine Learning Algorithms for Classification and Prediction such as KNN, Linear Regression, Logistic Regression and SVM.</p>
  <p class="card-text"><small class="text-muted">Machine Learning</small></p>
</div>
</div>
<div class="card">
<img src="{% static 'mysite/images/cir.jpg' %}" width="200" height="200" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Synthesis of Electronic Circuits using GA and GP</h5>
  <p class="card-text">Presented a GA and GP based automated circuit synthesis framework for analog circuits.</p>
  <p class="card-text"><small class="text-muted">Genetic Algorithms and Programming</small></p>
</div>
</div>
</div>
</div>
{% endblock %}
